Billed-app-FR-Front-main/node_modules
Billed-app-FR-Front-main/coverage
Billed-app-FR-Front-main/.idea

Billed-app-FR-Back/node_modules
Billed-app-FR-Back/database_test.sqlite
Billed-app-FR-Back/node_modules
Billed-app-FR-Back/coverage
